<!-- Contributors Statistic View -->
<!-- Controll panel -->
<div class="panel panel-default">
  <div class="panel-body">
    <p ng-cloak>Sort By: {{ sortType }}</p>
    <p ng-cloak>Sort Reverse: {{ sortReverse }}</p>
    <p ng-cloak>Search Query: {{ searchItem }}</p>
  </div>
</div>
<!-- Controll panel end -->
<!-- Table -->
<form>
  <div class="form-group">
    <div class="input-group">
      <div class="input-group-addon"><i class="fa fa-search"></i></div>
      <input type="text" class="form-control" placeholder="Search" ng-model="searchItem">
    </div>
  </div>
</form>
<table  class="table table-bordered table-striped" ng-table="mainTable.defaultConfigTableParams">
  <thead>
    <tr>
      <td class="col-sm-4">
        <a href="#" ng-click="sortType = 'nickname'; sortReverse = !sortReverse">
          <span>Nickname</span>
          <span ng-show="sortType == 'nickname' && !sortReverse" class="fa fa-caret-down"></span>
          <span ng-show="sortType == 'nickname' && sortReverse" class="fa fa-caret-up"></span>
        </a>
      </td>
      <td class="col-sm-4">
        <a href="#" ng-click="sortType = 'team'; sortReverse = !sortReverse">
          <span>Team</span>
          <span ng-show="sortType == 'team' && !sortReverse" class="fa fa-caret-down"></span>
          <span ng-show="sortType == 'team' && sortReverse" class="fa fa-caret-up"></span>
        </a>
      </td>
      <td class="col-sm-4">
        <a href="#" ng-click="sortType = 'contributions'; sortReverse = !sortReverse">
          <span>Contributions</span>
          <span ng-show="sortType == 'contributions' && !sortReverse" class="fa fa-caret-down"></span>
          <span ng-show="sortType == 'contributions' && sortReverse" class="fa fa-caret-up"></span>
        </a>
      </td>
    </tr>
  </thead>
  <tbody>
    <tr dir-paginate="contributor in contributors | orderBy:sortType:sortReverse | filter:searchItem | itemsPerPage:5">
      <td ng-cloak>{{ contributor.nickname }}</td>
      <td ng-cloak>{{ contributor.team }}</td>
      <td ng-cloak>{{ contributor.contributions }}</td>
    </tr>
  </tbody>
</table>
<!-- Table end -->
<!-- Pagination -->
<div class="pagination">
  <dir-pagination-controls
       max-size="5"
       direction-links="true"
       boundary-links="true" >
    </dir-pagination-controls>
</div>
<!-- Pagination End -->
<!-- Contributors Statistic View -->
