<!-- Public Repositories Statistic View -->
<!-- Controll panel -->
<div class="panel panel-default">
  <div class="panel-body">
    <p ng-cloak>Sort By: {{ sortRepoType }}</p>
    <p ng-cloak>Sort Reverse: {{ sortRepoReverse }}</p>
    <p ng-cloak>Search Query: {{ searchRepoItem }}</p>
  </div>
</div>
<!-- Controll panel end -->
<!-- Table -->
<form>
  <div class="form-group">
    <div class="input-group">
      <div class="input-group-addon"><i class="fa fa-search"></i></div>
      <input type="text" class="form-control" placeholder="Search" ng-model="searchRepoItem">
    </div>
  </div>
</form>
<table class="table table-bordered table-striped" ng-table="sortRepoTable">
  <thead>
    <tr>
      <td class="col-sm-6">
        <a href="#" ng-click="sortRepoType = 'name'; sortRepoReverse = !sortRepoReverse">
          <span>Name of repository</span>
          <span ng-show="sortRepoType == 'name' && !sortRepoReverse" class="fa fa-caret-down"></span>
          <span ng-show="sortRepoType == 'name' && sortRepoReverse" class="fa fa-caret-up"></span>
        </a>
      </td>
      <td class="col-sm-2">
        <a href="#" ng-click="sortRepoType = 'watchers'; sortRepoReverse = !sortRepoReverse">
          <span>Watchers</span>
          <span ng-show="sortRepoType == 'watchers' && !sortRepoReverse" class="fa fa-caret-down"></span>
          <span ng-show="sortRepoType == 'watchers' && sortRepoReverse" class="fa fa-caret-up"></span>
        </a>
      </td><td class="col-sm-2">
        <a href="#" ng-click="sortRepoType = 'stargazers_count'; sortRepoReverse = !sortRepoReverse">
          <span>Stars</span>
          <span ng-show="sortRepoType == 'stargazers_count' && !sortRepoReverse" class="fa fa-caret-down"></span>
          <span ng-show="sortRepoType == 'stargazers_count' && sortRepoReverse" class="fa fa-caret-up"></span>
        </a>
      </td>
      <td class="col-sm-2">
        <a href="#" ng-click="sortRepoType = 'forks'; sortRepoReverse = !sortRepoReverse">
          <span>Forks</span>
          <span ng-show="sortRepoType == 'forks' && !sortRepoReverse" class="fa fa-caret-down"></span>
          <span ng-show="sortRepoType == 'forks' && sortRepoReverse" class="fa fa-caret-up"></span>
        </a>
      </td>
    </tr>
  </thead>
  <tbody>
    <tr dir-paginate="item in repos | orderBy:sortRepoType:sortRepoReverse | filter:searchRepoItem | itemsPerPage:5">
      <td ng-cloak>{{ item.name }}</td>
      <td ng-cloak>{{ item.watchers }}</td>
      <td ng-cloak>{{ item.stargazers_count }}</td>
      <td ng-cloak>{{ item.forks }}</td>
    </tr>
  </tbody>
</table>
<!-- Table end -->
<!-- Pagination -->
<div class="pagination">
  <dir-pagination-controls
       max-size="5"
       direction-links="true"
       boundary-links="true" >
    </dir-pagination-controls>
</div>
<!-- Pagination End -->
<!-- Public Repositories Statistic View End -->
