// Normalize page styles
@import url(../../bower_components/normalize-less/normalize.less);
// Bootstrap page styles
@import url(../../bower_components/bootstrap/dist/css/bootstrap.css);

/* BEGIN GLOBAL CUSTOM STYLES */
* {
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
}

html, body {
  // height: 100%;
  font-size: 100%;
  width: 100%;
  position: relative;
}

body {
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: center;
}

.clearfix::after {
  display: table;
  content: '';
  clear: both;
}

.container {
  margin-top: 40px;
  padding-bottom: 40px;
  .nav.nav-pills.nav-justified {
    margin-bottom: 40px;
  }
  .pagination {
    display: block;
    margin: 0 auto;
  }
}
/* END GLOBAL CUSTOM STYLES */
